{
  parser: "babel-eslint",
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "globals": {
    "env": "readonly"
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "react/prop-types": "off",
    "no-console": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": [error, { devDependencies: true }],
    "import/no-named-as-default": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.common.js"
      }
    }
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
}
