@import "styles/variables.scss";

.mr_logoConteiner {
  display: inline-block;
  margin: 0;

  .mr_logo {
    color: $pink;
    font-family: sans-serif;
    font-weight: bold;

    &:hover {
      color: $white;
    }
  }
}

.mr_header .mr_logo {
  display: block;
  margin-bottom: 40px;
}
