@import "styles/variables.scss";

.mr_search {
  color: $white;

  form {
    position: relative;
    height: 80px;
    margin-bottom: 20px;
  }

  button {
    color: $white;
    background: $pink;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $pinkLight;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px 0 20px 0;
  }

  .mr_searchInput {
    width: 100%;
    background-color: $black;
    border: none;
    height: 40px;
    padding: 0 10px;
    color: $white;
  }

  .mr_searchSubmit {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 7px 50px;
    font-size: 12px;
  }

  hr {
    border-color: $pink;
    margin-top: 0;
  }

  .mr_searchSwitch {
    display: inline-block;
    margin-top: 8px;

    span {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;
      padding-right: 15px;
    }

    button {
      font-size: 10px;
      margin-right: 15px;
      padding: 5px 10px;

      &.mr_isActiveType {
        background: $greyDark;
      }
    }
  }
}
