.mr_poster {
  display: inline-block;
  width: 200px;
  margin-right: 50px;
}

.mr_poster img {
  width: 100%;
}

.mr_movieDetails {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  color: #fff;
}
